
@import "tailwindcss";

@layer base {
  /* Make Outfit the default font globally */
  * {
    font-family: "Outfit", sans-serif;
  }

  /* (Optional) Make headings use Prata */
  h1, h2, h3, h4, h5, h6 {
    font-family: "Prata", serif;
  }
  ::-webkit-scrollbar{
    display: none;
  }
@media  (max-width: 640px){
a.active{
  background-color: black;
  color: white;
}
NavLink.active{
  background-color: rgb(236, 14, 14);
  color: white;
}
    
  }
}
form input{
 /* box-shadow: inset 5px 5px 10px #011f4b ,inset -5px -5px 10px #3f6aa9; */
 box-shadow: inset 5px 5px 10px #b8bcc2 ,inset -5px -5px 10px #ffffff

/* shadow-[inset_5px_5px_10px_#,inset_-5px_-5px_10px_] */
}